{% extends layout %}
{% from macros import icon %}
{% set pageTitle = 'Example page' %}



{#
    No 'email' GET param, or empty value? Show email field.
    The 'email' GET param is filled but does not contain '@'? Show email not found message.
    If 'email' is set and contains '@', show the password field.
#}


{# Replacing a block's content #}
{% block content %}

    <div class="Layout">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    {% include '@templates/component/form-account.twig' with {context: 'edit'} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
