{% extends layout %}
{% from macros import icon %}
{% set pageTitle = 'Example page' %}

{# Replacing a block's content #}
{% block content %}

    <h1>Example page</h1>

    <p>Let’s show an SVG icon.</p>

    <p style="font-size: 300px; color: rebeccapurple; text-align: center;">
        {{ icon('cross', 'Alt text for this icon') }}
    </p>

    <p>The path to the icon sprite is hardcoded in <code>templates/base/macros.twig</code>.
    Alternatively, pass the full URL with path and symbol id to the macro:<p>

    <p style="font-size: 300px; color: seagreen; text-align: center;">
        {{ icon('/assets/dist/main.svg#icon-angle') }}
    </p>
{% endblock %}

{# Adding to a block #}
{% block styles %}
    {{ parent() }}
    <style>body { max-width: 600px; margin: 2em auto; }</style>
{% endblock %}
