{% extends layout %}
{% from macros import icon %}
{% set pageTitle = 'Example page' %}


{# Replacing a block's content #}
{% block content %}

    <div class="Layout">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    {% include '@templates/component/form-signup.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
