{# Automatic project index #}
{% spaceless %}

    {# Make a copy of global var names before we add more #}
    {% set globalKeys = [] %}
    {% for key,val in _context %}
        {% if not (key == 'globalKeys' or key starts with '_') %}
            {% set globalKeys = globalKeys|merge([key]) %}
        {% endif %}
    {% endfor %}

    {# Get the README and extract main title + remaining HTML content #}
    {% set data = markdown(source('README.md'))|split('</h1>') %}
    {% set title = data[0]|length < 150 ? data[0]|replace({'<h1>':''}) : '' %}
    {% set readme = (title ? data[1:] : data)|join('</h1>') %}

    {# List components, pages etc #}
    {% set pages = files('*.twig', 'templates/page') %}
    {% set components = files('*.twig', 'templates/component') %}
    {% set svgdemos = files('assets/dist/*.svg.html') %}

    {# Helpers #}
    {% set highlightFIXME = {'FIXME':'<b style="color:red">FIXME</b>'} %}

{% endspaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        html { padding: 1em; }
        body { max-width: 1240px; margin: 0 auto; font-family: Georgia, serif; line-height: 1.5; }
        a { color: #07a; }
        h1 { margin: 1em 0 0; font-size: 2em; font-weight: normal; }
        h2 { margin-top: 2em; font: 1.2em normal, sans-serif; text-transform: uppercase; letter-spacing: .1em; }
        blockquote { margin: 1em 0; padding: 1em; border: solid 1px #aaa; font-size: 85%; background: #f4f4f4; }
        table { width: 100%; margin: 1.5em 0; border-collapse: collapse; }
        th { text-align: left; padding: .5em .75em; border: solid 1px #ddd; }
        td { padding: .5em .75em; border: solid 1px #ddd; }
        td a { display: block; margin: -.5em -.75em; padding: .5em .75em; text-decoration: none; }
        @media (min-width:1000px) {
            body { margin-top: 2em; margin-bottom: 2em; }
            main { display: table; table-layout: fixed; width: 100%; }
            section { display: table-cell; vertical-align: top; width: 50%; padding-right: 4%; }
        }
    </style>
</head>
<body>
<h1>{{ title|replace(highlightFIXME)|raw }}</h1>
<main>
    <section>
        <h2>Pages &amp; components</h2>
        <table>
            <tr>
                <th width="35%">Page</th>
                <th>Twig source</th>
            </tr>
            {% for name in pages %}
                {% set trimmed = name|replace({'.twig':''}) %}
                <tr>
                    <td><a href="{{ _base~'templates/page/'~trimmed }}">{{ trimmed }}</a></td>
                    <td><a href="{{ _base~'templates/page/'~name }}">templates/page/{{ name }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th width="35%">Component</th>
                <th>Twig source</th>
            </tr>
            {% for name in components %}
                {% set trimmed = name|replace({'.twig':''}) %}
                <tr>
                    <td>
                        <a href="{{ _base }}templates/component/{{ trimmed }}">{{ trimmed }}</a>
                    </td>
                    <td>
                        <a href="{{ _base }}templates/component/{{ name }}">templates/component/{{ name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if svgdemos|length > 0 %}
            <table>
                <tr>
                    <th width="35%">SVG sprite</th>
                    <th>Demo page</th>
                </tr>
                {% for path in svgdemos %}
                    {% set sprite = path|replace({'.svg.html':'.svg'}) %}
                    <tr>
                        <td>
                            <a href="{{ _base ~ sprite }}">{{ sprite|replace({'assets/dist/':''}) }}</a>
                        </td>
                        <td>
                            <a href="{{ _base ~ path }}">{{ path }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <h2>Global variables</h2>
        {% if globalKeys|length %}
        <table>
            <tr><th>Key</th><th>Value</th></tr>
            {% for key,val in _context if key in globalKeys %}
                <tr>
                    <td><code>{{ key }}</code></td>
                    <td><code>{{ val|json_encode|replace({'\\/':'/', '",':'",\n'})|nl2br }}</code></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>None found.</p>
        {% endif %}
    </section>
    <section>
        {{ readme|replace(highlightFIXME)|raw }}
    </section>
</main>
</body>
</html>
