{% spaceless %}
    {#
        Twig global vars: see Resources/config/static-html.yml
        Macros: need to be explicitely imported in each file.
    #}

    {# Metadata #}
    {% set pageLang = 'en' %}
    {% set pageTitle = pageTitle|default('') %}
    {% set pageDesc = pageDesc|default('') %}

{% endspaceless %}
<!DOCTYPE html>
<html lang="{{ pageLang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta %}
        <title>{{ pageTitle }}</title>
        {% if pageDesc %}<meta name="description" content="{{ pageDesc }}">{% endif %}
    {% endblock %}
    {% block styles %}
        {% include '@templates/base/styles-main.twig' %}
    {% endblock %}
    {% block head_scripts %}
        {% include '@templates/base/scripts-head.twig' %}
    {% endblock %}
</head>
<body>

{% block body %}
    {% block header %}
        {% include '@templates/includes/header.twig' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include '@templates/includes/footer.twig' %}
    {% endblock %}
{% endblock body %}

{% block scripts %}
    {% include '@templates/base/scripts-body.twig' %}
{% endblock %}

</body>
</html>
