{#
    INLINED SCRIPTS
    Only JS code that is short enough (< 1kb) and that must be
    loaded as soon as possible for optimal performance. Otherwise,
    create feature-specific scripts in app/scripts!
#}
{# JS NAMESPACE for sharing code between JS components. #}
{# <script>window.projectname={}</script> #}
{# SVG icon support in IE 9-11 #}
<script>
{{ source('assets/dist/svg4everybody.js')|raw }}
;svg4everybody();
</script>
