{# Avoid enormous SVG icons if stylesheet is not loaded #}
<style>.icon{width:1em;height:1em;}</style>
{# Main stylesheet (libs first, main.css second) #}
<link rel="stylesheet" href="/assets/dist/main.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
