<header class="Header">
    <img class="Header-logo" src="../../assets/img/logo.jpg" />

    <div class="Header-buttons">
        <div class="Header-links">
            <a href="#" class="Header-link Button Button--brown">Aller à la boutique</a>
            <a href="#" class="Header-link Button Button--brown">Retour à la FAQ</a>
        </div>

        <div class="Header-actions">
            <a href="#" class="Header-action Button Button--red">Modifier mon compte</a>
            <a href="#" class="Header-action Button Button--red">Déconnexion</a>
        </div>
    </div>

</header>
