// ======
// Mixins
// ======


// Switch to grayscale font smoothing on OSX
@mixin osx-font-smoothing-grayscale {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin button {
    text-transform: uppercase;
    font-size: 0.6rem;
    color:white;
    font-family: 'Lato';
    padding:10px 20px;
    display:inline-block;
    margin-right: 10px;
    cursor:pointer;

    &:hover {
        color:white;
        text-decoration: none;
    }
}
