// ======================================
// Simple styles for helping with mockups
// ======================================


// Main wrapper for filling the full page
.Testing-wrap {
    padding: 40px 20px;
    background-color: #eee;
}

// A horizontally centered block
// Restrict with by changing the max-width in the style attribute (testing pages only)
.Testing-block {
    max-width: 1000px;
    margin: 50px auto;
}

// Put as many items in columns (wrapping automatically) as you want
.Testing-col {
    display: inline-block;
    vertical-align: top;
    max-width: 450px;
    margin: 20px;
}

// Big empty line (hr)
.Testing-blank {
    height: 100px;
    margin: 0;
    border: none;
}

// Empty placeholder (with a label inside)
.Testing-dummy {
    display: block;
    padding: 40px;
    border: solid 1px rgba(0,0,0,.15);
    text-align: center;
    background-color: rgba(0,0,0,.05);
}
