// -------------------------
// Utility: icon (SVG icons)
// -------------------------

.icon {
    /* Allows sizing by changing the icon’s font-size */
    width: 1em; height: 1em;
    /* Nice visual alignment for icons alongside text */
    vertical-align: -0.15em;
    /* Default path fill = value of the color property */
    fill: currentColor;
}
