.Form {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 15px 0px #e5e5e5;
}

.Form-content {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 50px 30px;

    label, input[type="text"], input[type="password"], input[type="email"] {
        display: block;
        width: 100%;

    }

    label {
        margin-bottom: 10px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.6rem;
    }
}

.Form-content--half {
    border-radius: 8px 8px 0 0;
}

.Form-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.Form-legend {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.Form-alert {
    text-align: right;
    font-weight: 700;
    font-size: 0.7rem;

    a {
        text-decoration: underline;
    }
}

.Form-alert--noLogin {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 20px;
}

.Form-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.Form-input--error {
    border: 1px solid $color-red;
}

.Form-signup {
    text-align: center;
    padding:20px;
    background-color: #ddd;
    border-radius: 0 0 8px 8px;
}

.Form-cgu {
    padding-left:10px;
    a {
        text-decoration: underline;
    }
}

.Form-helper {
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    padding:10px;
}

.Form-wysiwyg {
    margin-top: 40px;
    h2 {
        font-size:1rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.8;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: circle;
        margin-left: 60px;
    }
}