<div class="Form Legal">
    <div class="Form-content">
        <div class="Form-header">
            <h1 class="Form-title">Conditions générales d'utilisation</h1>
        </div>

        <div class="Form-wysiwyg">
            <p>La société Thermor, SAS au capital de 3 917 780 €, dont le siège social est situé 17 rue Croix Fauchet, 45140 Saint Jean de la Ruelle, immatriculée au RCS d’Orléans sous le n°329 545 008 (Ci-après « Thermor »), met en œuvre le site assistance.thermor.fr  et boutique.thermor.fr (Ci-après le « Site ») selon les termes des présentes conditions générales.</p>

            <p>L'utilisation des Sites Thermor est régie par les présentes conditions générales d'utilisation. Tout individu ou entité qui accède, quelle qu'en soit la raison, aux Sites et à leur  contenu est automatiquement, entièrement et sans réserve lié aux présentes conditions. Le simple fait de naviguer ou utiliser quelque soit le site thermor implique l’acceptation entière des présentes conditions. Les Membres tels que définis ci-après sont en outre tenus d'accepter expressément les présentes conditions d'utilisation par une case à cocher lors de leur création de compte</p>

            <h2>Conditions générales spécifiques à assistance.thermor.fr</h2>

            <p>Le terme «Utilisateur» utilisé dans les présentes Conditions d'utilisation fait référence indifféremment aux individus et/ou entités qui accèdent, quelle qu'en soit la raison, au Site.</p>

            <p>L'utilisation des Sites Thermor est régie par les présentes conditions générales d'utilisation. Tout individu ou entité qui accède, quelle qu'en soit la raison, aux Sites et à leur  contenu est automatiquement, entièrement et sans réserve lié aux présentes conditions. Le simple fait de naviguer ou utiliser quelque soit le site thermor implique l’acceptation entière des présentes conditions. Les Membres tels que définis ci-après sont en outre tenus d'accepter expressément les présentes conditions d'utilisation par une case à cocher lors de leur création de compte</p>

            <ul>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
            </ul>
        </div>
    </div>
</div>