<div class="Signup Form">
    <div class="Form-content Form-content--half">
        <div class="Form-header">
            <h1 class="Form-title">Bienvenue</h1>
            <p class="Form-legend">Vous êtes à quelques étapes d'accéder à tous les services Thermor. L'inscription est gratuite et sans engagement.</p>
        </div>

        <div class="Form-items">
            <form action="" method="get" class="Form-main">
                <label for="name">Nom*</label>
                <input name="name" id="name"
                       class="Form-input "
                       type="text"
                       required
                >

                <label for="surname">Prénom*</label>
                <input name="surname" id="surname"
                       class="Form-input"
                       type="text"
                       required
                >

                <label for="email">Email*</label>
                <input name="email" id="email"
                       class="Form-input"
                       type="email"
                       required
                >

                <label for="password">Mot de passe*</label>
                <input name="password" id="password"
                       class="Form-input Form-input--error"
                       type="password"
                       required
                >

                <label for="repeat-password">Répéter le mot de passe*</label>
                <input name="repeat-password" id="repeat-password"
                       class="Form-input"
                       type="password"
                       required
                >

                <label for="cgu">Conditions générales</label>
                <input name="cgu" id="cgu" type="checkbox"><span class="Form-cgu"><a href="">J'ai lu et j'accepte les conditions générales d'utilisation des services Thermor</a></span>
            </form>
        </div>
    </div>

    <div class="Form-helper">
        <p>Tous les champs marqués d'un astérisque (*) sont obligatoires</p>
    </div>


</div>