{% set context = context|default('consult') %}

<div class="Form Account">
    <div class="Form-content">
        <div class="Form-header">
            <h1 class="Form-title">Mon compte</h1>
            <p class="Form-legend">Vous pouvez consulter ou modifier ici toutes les informations relatives à votre compte</p>
        </div>

        <div class="Form-items">
            <div class="Form-items">
                <form action="" method="get" class="Form-main">
                    <label for="name">Nom*</label>
                    <input name="name" id="name"
                           class="Form-input "
                           type="text"
                           required
                           {% if context == 'consult' %}disabled{% endif %}
                    >

                    <label for="surname">Prénom*</label>
                    <input name="surname" id="surname"
                           class="Form-input"
                           type="text"
                           required
                           {% if context == 'consult' %}disabled{% endif %}
                    >

                    <label for="email">Email*</label>
                    <input name="email" id="email"
                           class="Form-input"
                           type="email"
                           required
                           {% if context == 'consult' %}disabled{% endif %}
                    >

                    <label for="password">Mot de passe*</label>
                    <input name="password" id="password"
                           class="Form-input Form-input--error"
                           type="password"
                           required
                           {% if context == 'consult' %}disabled{% endif %}
                    >

                    <label for="repeat-password">Répéter le mot de passe*</label>
                    <input name="repeat-password" id="repeat-password"
                           class="Form-input"
                           type="password"
                           required
                           {% if context == 'consult' %}disabled{% endif %}
                    >
                </form>
            </div>
            {% if context == 'consult' %}
            <div class="Form-actions">
                <a href="" class="Button Button--brown">Quitter</a>
                <a href="" class="Button Button--red">Modifier mes informations</a>
            </div>
            {% elseif context == 'edit' %}
                <div class="Form-actions">
                    <a href="" class="Button Button--brown">Annuler</a>
                    <a href="" class="Button Button--red">Enregistrer mes modifications</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="Form-helper">
        <p>Tous les champs marqués d'un astérisque (*) sont obligatoires</p>
    </div>
</div>