{% set context = context|default('login') %}
{% set validate = validate|default(true) %}

{% set title = title|default('Bienvenue') %}
{% set legend = legend|default("Connectez vous afin d'accéder à nos services") %}

{% set error = param('error') %}

<div class="Signin Form">


    <div class="Form-content Form-content--half">
        <div class="Form-header">
            <h1 class="Form-title">{{ title }}</h1>
            <p class="Form-legend">{{ legend }}</p>
        </div>

        <div class="Form-items">
            {% if context == 'login' %}
            <form action="" method="get" class="Form-main">
                {% if error %}
                    <p class="Form-alert Form-alert--noLogin">Mauvais identifiant ou mot de passe</p>
                {% endif %}
                <fieldset>

                    <label for="email">Votre adresse email</label>
                    <input name="email" id="email"
                           class="Form-input {% if error %}Form-input--error{% endif %}"
                           type="text">

                    <label for="password">Votre mot de passe</label>
                    <input name="password" id="password"
                           class="Form-input"
                           type="text">

                    <p class="Form-alert Form-alert--retrievePassword"><a href="#">Mot de passe perdu ?</a></p>

                    <button class="Form-send Button Button--red" type="submit" formaction="">Suivant</button>
                </fieldset>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="Form-signup">
        <p>Pas encore inscrit ?</p>
        <p><a href="">Créez vous un compte dès maintenant !</a></p>
    </div>
</div>
