{% set context = context|default('loggedin') %}

<div class="LoggedIn Form">
    <div class="Form-content">

        {% if context == 'loggedin' %}
            <h1 class="Form-title">Bonjour Grégoire</h1>
            <p class="Form-legend">Que souhaitez vous faire ?</p>
        {% elseif context == 'firstlogin' %}
            <h1 class="Form-title">Bienvenue Grégoire !</h1>
            <p class="Form-legend">Profitez dès à présent de tous les services Thermor !</p>
        {% else %}
            <h1 class="Form-title">Plus qu'une petite étape...</h1>
            <p class="Form-legend">Vous allez recevoir dans les prochaines minutes un email de notre part contenant un lien pour finaliser votre inscription. Merci de vérifier votre boîte spam également.</p>
            <a class="Button Button--brown" href="">Renvoyer un email de confirmation</a>
        {% endif %}

        {% if context != 'waitConfirmation' %}
            <a href="" class="Button Button--brown">Retourner à la FAQ</a>
            <a href="" class="Button Button--brown">Consulter mon compte</a>

        {% endif %}
    </div>
</div>