<div class="Testing-wrap">
    <h1>Demo of the Testing component</h1>
    <p>This small CSS component is made only for component demo pages. It provides a few block styles that can be useful when a project doesn’t have layout styles yet.</p>
    <hr class="Testing-blank">
    <h2>Placeholder block with label</h2>
    <div class="Testing-dummy">[TODO: YouTube video player]</div>
    <hr class="Testing-blank">
    <h2>Centered block (change width with <code>style="max-width:…"</code>)</h2>
    <div class="Testing-block" style="max-width:700px">
        {{ lorem('4s') }}
    </div>
    <hr class="Testing-blank">
    <h2>Columns (change width with <code>style="max-width:…"</code>)</h2>
    <div class="Testing-col">
        {{ lorem('3s') }}
    </div>
    <div class="Testing-col">
        {{ lorem('3s') }}
    </div>
    <div class="Testing-col">
        {{ lorem('3s') }}
    </div>
    <div class="Testing-col">
        {{ lorem('3s') }}
    </div>
</div>
